<h1>EAT DA BURGER</h1>

<!-- Pass in data from server.js -->
<ul>
  {{#each quotes}}
  	<li>
  		<p><span class="label"></span> {{burger}}</p>
      

      <button data-id="{{id}}" class="devour">Devour</button>

      
  	</li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="quo">Burger:</label>
    <textarea id="burger" name="burger" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Add Burger</button>
</form>